<main>
    {{#if loginuser}}
        Logged in as: {{loginuser}} | <a href="/logout">Logout</a>
    {{else}}
        You are not logged in | <a href="/login">Login</a>
    {{/if}}
    <h1>Thread Catalog</h1>

    {{#if threads}}
        <div class="thread-list">
            {{#each threads}}
                <p class="thread-link">
                    <a href="/graph/{{this.tuuid}}">{{this.ttext}}</a>
                </p>
            {{/each}}
        </div>
    {{else}}
        <p class="no-threads">
            No threads to display.
        </p>
    {{/if}}

</main>